body {
    background-color: #ffffec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container{
    background-color: white;
    padding: 48px 56px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    background-color: #007C89;
    font-size: 10px;
    color: white;
    border: none; 
    border-radius: 10px;
    padding: 3px 15px;
    cursor: pointer;
}
.label{
    font-weight: bold;
    font-size: 14px;
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}
.profile-title {
    font-weight: bold;
    font-size: 16px;
    color: #555;
}

.overlay {
    z-index: 10;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: none;
}

.modal{
    background-color: white;
    border-radius: 8px;
    padding: 40px 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 20;

}