body {
    background-color: #ffffec;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-div {
    background-color: white;
    padding: 48px 56px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.auth-header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.input-div{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


.input {
    border: 0.5px solid grey;
    border-radius: 4px;
    padding: 15px 20px;
}

.label {
    font-size: 13px;
    font-weight: 600;
    color: rgb(75, 75, 75);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;;
    padding-bottom: 5px;
    
}

.submit-button{
    background-color: #007C89;
    font-size: 15px;
    color: white;
    width: 30%;
    border: none; 
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #006671;
    transition: 0.3s;
}

@media (max-width: 800px) {
    .submit-button {
        font-size: 11px;
        width: 40%;
    }
}

@media (max-width: 510px) {
    .submit-button {
        width: 60%;
    }
}

@media (max-width: 345px) {
    .submit-button {
        width: 80%;
    }
}

.button-row {
  display: flex;
  justify-content: space-between;  /* left: sign-in, right: span+register */
  align-items: center;
  width: 100%;
}
/* 
.right-group {
  display: flex;
  align-items: center;
}

.button-row .submit-button {
  flex: 0 0 auto;
} */